#me{
    width: 40%;
    display: block;
    margin: auto;
    border: solid rgb(228, 227, 242) 5px;
}
a{
    text-decoration: none;
}
.box-container{
    display: flex;
    width: 40in;
    margin-top: 2in auto;
    margin-left: 90px;
    align-items: center;
}
.box{
    flex: -1.5 1 auto;
    background: rgba(172, 169, 213, 0.5);
    width: 2in;
    height: 0.6in;
    border-radius: 5px;
    border: solid rgb(78, 77, 97) 1px;
    margin: 10px;
    padding: 20px;
    font-size: 15px;
    text-align: center;
    transition: 0.2s ease-in-out;
    
}
.box:hover{
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
    background-color: rgb(200, 169, 213)
}
.my_Intro{
    display: inline-block;
    padding: 1in; /*fix margins*/
}
.my_UBL{
    margin: 80px;/*fix margins*/
}